.clickableRect:hover {
      stroke: #000;
      stroke-width: 2px;
}

.clickableTriangle:hover {
      stroke: #000;
      stroke-width: 2px;
}

.clickableDoor:hover {
      stroke: #000;
      stroke-width: 2px;
}

.clickableWindow:hover {
      stroke: #000;
      stroke-width: 2px;
}

.house {
    cursor: pointer;
}